/*
======================
For - Big - Screen
======================
*/


@media screen and (min-width: 1900px) {}


/*
=======================
For - Desktop - Screen
=======================
*/

@media screen and (min-width: 1400px) {

    .advisors-details {
        padding-bottom: 0;
    }


}


/*
====================================
For -  Laptop/Mini Desktop - Screen
====================================
*/

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    h1 {
        font-size: 60px;
    }

    .text-xl {
        font-size: 18px;
        line-height: 26px;
    }


    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-logo img {
        max-width: 130px;
    }

    .header-list li a {
        font-size: 15px;
    }

    .login-btn {
        font-size: 15px;
        padding: 8px 20px;
        border-radius: 140px;
    }

    .login-btn img {
        max-width: 20px;
    }



    /* 
    -------------------------
    banner-area start
    -------------------------
    */

    .features-area {
        margin-top: -112px;
    }




    /* 
    -------------------------
    cards-area start
    -------------------------
    */

    .box__card {
        padding: 30px;
    }





    /* 
    --------------------------
    advisors-area start
    --------------------------
    */

    h4 {
        font-size: 30px;
    }

    .advisors-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .select-search-div {
        display: block !important;
    }

    .select-flex-div > div {
        width: 33.33%;
    }

    .select-flex-div > div > div {
        width: 100%;
        min-width: auto;
    }

    .search-form {
        max-width: none;
        width: 100%;
        margin-top: 10px;
    }





    /* 
    =============================
    about-detail-page.html
    =============================
    */

    .advisors__details__box {
        gap: 70px;
    }

    .advisors-card-grid > div {
        display: none;
    }

    .advisors-card-grid > div:nth-child(1),
    .advisors-card-grid > div:nth-child(2),
    .advisors-card-grid > div:nth-child(3),
    .advisors-card-grid > div:nth-child(4),
    .advisors-card-grid > div:nth-child(5),
    .advisors-card-grid > div:nth-child(6) {
        display: block;
    }



    


    
   
	
}


/*
=============================
For - Mini - Laptop - Screen
=============================
*/

@media screen and (min-width: 992px) and (max-width: 1199px) {

    h1 {
        font-size: 48px;
        line-height: 63px;
        letter-spacing: -0.5px;
    }

    h2 {
        font-size: 35px;
        line-height: 44px;
        letter-spacing: -0.4px;
    }
    
    .text-lg {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.3px;
    }

    .text-xl {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

    .container {
        padding: 0 20px;
    }

    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-logo img {
        max-width: 130px;
    }



    /* 
    -------------------------
    banner-area start
    -------------------------
    */

    .banner-content {
        padding: 270px 0 280px;
    }

    .features-area {
        margin-top: -110px;
    }

    .banner-content a {
        padding: 14px 24px;
    }




    /* 
    -------------------------
    cards-area start
    -------------------------
    */

    .cards-area {
        padding: 80px 0;
    }

    .box__card {
        padding: 16px;
    }

    .box__card span {
        width: 70px;
        height: 70px;
        font-size: 40px;
        line-height: 58px;
        letter-spacing: -1.57px;
    }

    .box__card h4 {
        margin: 16px 0 11px;
        font-size: 20px;
        line-height: 28px;
    }

    .box__card p {
        font-size: 14px;
    }



    /* 
    -------------------------
    about-area start
    -------------------------
    */

    .about-area {
        padding: 80px 0;
    }

    .about-content h2 {
        margin-bottom: 20px;
    }




    /* 
    --------------------------
    call-rate-table-area start
    --------------------------
    */

    .call-rate-table-area {
        padding: 50px 0 80px;
    }

    .call-rate-table-grid {
        gap: 40px;
    }

    .call-rate-table-grid p {
        font-size: 14px;
    }

    .call-rate-table {
        width: 100%;
    }

    .call-rate-table th {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.2px;
        padding: 15px;
    }

    .call-rate-table td {
        padding: 15px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.2px;
    }




    /* 
    -------------------
    footer-area
    -------------------
    */

    .footer-area {
        padding: 60px 0 30px;
        border-radius: 50px 50px 0 0;
    }

    .footer-logo img {
        max-width: 360px;
    }





    /* 
    --------------------------
    advisors-area start
    --------------------------
    */

    h4 {
        font-size: 30px;
    }

    .advisors-grid {
        display: block;
    }

    .advisors-card-grid > div {
        display: none;
    }

    .advisors-card-grid > div:nth-child(1),
    .advisors-card-grid > div:nth-child(2),
    .advisors-card-grid > div:nth-child(3),
    .advisors-card-grid > div:nth-child(4),
    .advisors-card-grid > div:nth-child(5),
    .advisors-card-grid > div:nth-child(6) {
        display: block;
    }

    .advisors-area {
        padding: 80px 0
    }

    .aside-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        padding: 40px 0 0;
        row-gap: 30px;
    }

    .design-box h5 {
        font-size: 20px;
    }

    .design-box {
        margin: 0;
    }

    .call-now-btn, .design_a {
        padding: 11px 20px;
    }



    /* 
    =============================
    about-detail-page.html
    =============================
    */

    .advisors__details__box {
        gap: 30px;
    }

    .advisors__information__img img {
        width: 230px;
    }

    .pin-price-box > div {
        padding: 10px;
    }

    .pin-price-box > div > div {
        gap: 25px;
    }

    .pin-price-box {
        gap: 16px;
    }



    #load-more-btn {
        max-width: 95%;
    }

	
}



/*
=======================
For - Ipad - Screen
=======================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {


    h1 {
        font-size: 48px;
        line-height: 63px;
        letter-spacing: -0.5px;
    }

    h2 {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.4px;
    }

    .text-lg {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.3px;
    }

    .text-xl {
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

    .container {
        padding: 0 20px;
    }


    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-logo img {
        max-width: 130px;
    }




    /* 
    -------------------------
    banner-area start
    -------------------------
    */

    .banner-area {
        margin-top: -115px;
    }

    .banner-content {
        padding: 322px 0 224px;
    }

    .banner-content a {
        padding: 12px 24px;
        text-align: center;
        margin-top: 35px;
    }

    .banner-carousel .owl-dots {
        bottom: 155px;
    }

    .features-area {
        padding: 24px 0;
        margin-top: -92px;
    }

    .main-features-box {
        row-gap: 16px;
    }

    .features-box {
        gap: 10px;
    }

    .features-box img {
        max-width: 30px;
    }





    /* 
    -------------------------
    cards-area start
    -------------------------
    */

    .cards-area {
        padding: 60px 0;
    }

    .box__card {
        padding: 16px;
    }

    .box__card span {
        width: 70px;
        height: 70px;
        font-size: 40px;
        line-height: 58px;
        letter-spacing: -1.57px;
    }

    .box__card h4 {
        margin: 16px 0 11px;
        font-size: 20px;
        line-height: 28px;
    }

    .box__card p {
        font-size: 14px;
    }




    /* 
    -------------------------
    about-area start
    -------------------------
    */

    .about-area {
        padding: 60px 0;
    }
    
    .about-content h2 {
        margin-bottom: 16px;
    }

    .about-row {
        flex-direction: column-reverse;
        --bs-gutter-y: 24px;
    }



    /* 
    --------------------------
    call-rate-table-area start
    --------------------------
    */

    .call-rate-table-area {
        padding: 30px 0 60px;
    }

    .call-rate-table {
        width: 100%;
    }

    .call-rate-table th {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.2px;
        padding: 15px;
    }

    .call-rate-table td {
        padding: 15px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.2px;
    }

    .call-rate-table-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        flex-direction: column-reverse;
    }

    .call-rate-table-grid p {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: var(--font-inter);
        font-weight: 400;
    }




    /* 
    -------------------
    footer-area
    -------------------
    */

    .footer-area {
        padding: 60px 0 30px;
        border-radius: 40px 40px 0 0;
    }

    .footer-logo img {
        max-width: 260px;
    }

    .main-links-div,
    .links-ul {
        gap: 20px;
    }

    .links-ul li a {
        font-size: 14px;
    }

    .social-links {
        margin: 32px 0 60px;
    }

    .bottom-area ul {
        margin: 16px 0 0;
    }




    /* 
    --------------------------
    advisors-area start
    --------------------------
    */

    h4 {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.4px;
        text-align: center;
    }

    .advisors-area {
        padding: 60px 0;
    }

    .advisors-grid {
        display: block;
    }

    .advisors-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .select-search-div {
        display: block !important;
    }

    .select-flex-div > div {
        width: 33.33%;
    }

    .select-flex-div > div > div {
        width: 100%;
        min-width: auto;
    }

    .search-form {
        max-width: none;
        width: 100%;
        margin-top: 10px;
    }


    .aside-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        padding: 40px 0 0;
        row-gap: 30px;
    }

    .design-box h5 {
        font-size: 20px;
    }

    .mail-call-flex {
        display: block;
    }

    .mail-call-flex a {
        width: 100% !important;
        justify-content: center;
    }

    .call__link {
        margin-top: 12px;
    }






    /* 
    =============================
    about-detail-page.html
    =============================
    */

    .advisors-details-area {
        padding: 50px 0 35px;
    }

    .advisors__details__box {
        padding: 25px;
        display: block;
    }

    .advisors__information__title h4 {
        text-align: start !important;
    }

    .advisors__information__img img {
        width: 100%;
        height: 220px;
    }

    .rating-ul2 li i, .rating-ul2 li span {
        font-size: 13px;
    }

    .rating-ul2 {
        margin-top: 4px;
    }

    .pin-price-box > div {
        margin-bottom: 12px;
        padding: 7px 10px;
    }

    .pin-price-box {
        padding: 16px 0 0;
        gap: 20px;
    }

    .pin-price-box > div p {
        font-size: 17px;
    }

    .advisors__information__title h4 {
        font-size: 30px;
    }

    .notice-content {
        font-size: 18px;
    }

    .contact-btns-area {
        width: 100%;
        padding: 24px 0 0;
        row-gap: 16px;
    }



    /* 
    ------------------------
    consultant__section
    ------------------------
    */

    .consultant__box,
    .review__box,
    .common__box,
    .client__reviews__box {
        padding: 25px;
    }

    .consultant__box p {
        margin-bottom: 16px;
        font-size: 15px;
    }

    .consultant__box p.title-p {
        font-size: 24px;
    }




    /* 
    --------------------
    review__box__area
    --------------------
    */

    .review__box__area {
        padding: 50px 0;
    }

    .review__box > .d-flex {
        display: block !important;
    }

    .review__box h5 {
        width: 100%;
        padding: 12px 0 0;
        font-size: 20px;
        line-height: 30px;
    }

    .review__box__area h4 {
        font-size: 24px;
        margin-top: 16px;
        line-height: 36px;
        text-align: start !important;
    }


    /* 
    -----------------------
    email__offers__area
    -----------------------
    */

    .email__offers__box h4 {
        text-align: start;
        margin-bottom: 16px;
    }

    .email__offers__table2 td {
        display: block;
        width: 100%;
        padding: 16px 16px 16px !important;
        font-size: 15px;
    }

    .email__offers__table2 tr td:last-child {
        padding-top: 0 !important;
    }

    .email__offers__table2 td div {
        justify-content: space-between !important;
    }

    .show-btn {
        padding: 10px 20px;
    }



    /* 
    -----------------------
    qualifications-area
    -----------------------
    */

    .qualifications-area {
        padding: 50px 0;
    }

    .qualifications__box p {
        margin: 16px 0 0;
    }




    /* 
    ----------------------
    focus-area
    ----------------------
    */

    .focus__btn__area {
        justify-content: center;
        padding-top: 16px;
        gap: 12px;
    }

    .focus__btn__area li a {
        padding: 10px 16px;
    }



    /* 
    ----------------------
    availability-area
    ----------------------
    */

    .availability-area {
        padding: 50px 0;
    }

    .availability-table tr td {
        padding: 16px 0 !important;
        height: auto;
        font-size: 14px;
    }

    .availability-table tr td:first-child {
        padding-left: 16px !important;
    }

    .availability-table tr td:last-child {
        padding-right: 16px !important;
    }



    /* 
    ---------------------
    all-reviews-area
    ---------------------
    */

    .all-reviews-area {
        padding: 60px 0;
    }

    .client__reviews__box > .d-flex {
        display: block !important;
    }

    .rating-ul3 {
        margin-top: 16px;
    }

    .client__reviews__box > p {
        margin-top: 24px;
    }

    #load-more-btn {
        max-width: 95%;
    }


}






/*
=======================
For - Mobile - Screen
=======================
*/


@media screen and (max-width: 767px) {

    h1 {
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -0.5px;
        text-transform: initial !important;
    }

    h2 {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.4px;
    }

    .text-xl {
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

    .text-lg {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.3px;
    }

            
    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-area {
        padding: 16px;
    }

    .header-area nav {
        padding: 10px;
    }

    .header-logo img {
        max-width: 96px;
    }



    /* 
    -------------------------
    banner-area start
    -------------------------
    */

    .banner-area {
        margin-top: -95px;
    }

    .banner-content {
        padding: 372px 0 224px;
    }

    .banner-content a {
        padding: 12px 24px;
        display: block;
        text-align: center;
        margin-top: 24px;
    }

    .banner-carousel .owl-dots {
        bottom: 155px;
    }

    .features-area {
        padding: 24px 0;
    }

    .main-features-box {
        flex-wrap: wrap;
        row-gap: 16px;
    }

    .features-box {
        gap: 10px;
        width: 50%;
    }

    .features-box img {
        max-width: 30px;
    }





    /* 
    -------------------------
    cards-area start
    -------------------------
    */

    .cards-area {
        padding: 60px 0;
    }

    .box__card {
        padding: 16px;
    }

    .box__card span {
        width: 80px;
        height: 80px;
        font-size: 49px;
        line-height: 58px;
        letter-spacing: -1.57px;
    }

    .box__card h4 {
        margin: 26px 0 8px;
    }



    /* 
    -------------------------
    about-area start
    -------------------------
    */

    .about-area {
        padding: 60px 0;
    }
    
    .about-content h2 {
        margin-bottom: 16px;
    }

    .about-row {
        flex-direction: column-reverse;
        --bs-gutter-y: 24px;
    }




    /* 
    --------------------------
    advisors-area start
    --------------------------
    */

    h4 {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.4px;
        text-align: center;
    }

    .advisors-area {
        padding: 60px 0 60px;
    }

    .advisors-grid {
        display: block;
    }

    .advisors-card-grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
    }

    .advisors-card-grid > div {
        display: none;
    }

    .advisors-card-grid > div:nth-child(1),
    .advisors-card-grid > div:nth-child(2),
    .advisors-card-grid > div:nth-child(3),
    .advisors-card-grid > div:nth-child(4) {
        display: block;
    }

    .advisors-title {
        padding: 16px 16px 30px;
    }

    .select-flex-div > div {
        width: 50%;
    }

    .select-flex-div > div > div {
        width: 100%;
        min-width: auto;
    }

    .search-form {
        max-width: none;
        width: 100%;
        margin-top: 10px;
    }

    .call-now-btn {
        width: calc(100% - 104px);
    }



    /* aside-area */

    .aside-area {
        margin-top: 32px;
    }

    .mail-call-flex {
        display: block;
    }

    .mail-call-flex a {
        width: 100% !important;
        justify-content: center;
    }

    .call__link {
        margin-top: 12px;
    }






    /* 
    --------------------------
    call-rate-table-area start
    --------------------------
    */

    .call-rate-table-area {
        background-color: transparent;
        padding: 0;
    }

    .call-rate-table {
        width: 100%;
    }

    .call-rate-table th {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.2px;
        padding: 10px 10px;
    }

    .call-rate-table td {
        padding: 10px 10px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.2px;
    }

    .call-rate-table-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        flex-direction: column-reverse;
        background-color: var(--white-color);
        padding: 30px 24px 60px;
    }

    .call-rate-table-grid p {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: var(--font-inter);
        font-weight: 400;
    }





    /* 
    -------------------
    footer-area
    -------------------
    */

    .footer-area {
        padding: 60px 0 30px;
        border-radius: 40px 40px 0 0;
    }

    .footer-logo img {
        max-width: 200px;
    }

    .main-links-div {
        justify-content: flex-start !important;
        max-width: 360px;
        margin: 0 auto;
    }

    .links-ul {
        display: block !important;
        text-align: start;
    }

    .links-ul li a {
        margin-bottom: 16px;
    }

    .social-links {
        margin: 16px 0 40px;
    }

    .bottom-area ul {
        margin: 16px 0 0;
    }






    /* 
    =============================
    about-detail-page.html
    =============================
    */

    .advisors-details-area {
        padding: 50px 0 35px;
    }

    .advisors__details__box {
        padding: 16px;
        display: block;
    }

    .advisors__information,
    .advisors__information__title,
    .pin-price-box {
        display: block !important;
    }

    .advisors__information__title h4 {
        text-align: start !important;
    }

    .advisors__information__img img {
        width: 100%;
        height: 266px;
    }

    .rating-ul2 li i, .rating-ul2 li span {
        font-size: 13px;
    }

    .rating-ul2 {
        margin-top: 4px;
    }

    .pin-price-box > div {
        margin-bottom: 12px;
        padding: 7px 10px;
    }

    .pin-price-box {
        padding: 16px 0 0;
    }

    .pin-price-box > div p {
        font-size: 17px;
    }

    .advisors__information__title h4 {
        font-size: 30px;
    }

    .notice-content {
        font-size: 18px;
    }

    .contact-btns-area {
        width: 100%;
        padding: 24px 0 0;
        row-gap: 16px;
    }



    /* 
    ------------------------
    consultant__section
    ------------------------
    */

    .consultant__box,
    .review__box,
    .common__box,
    .client__reviews__box {
        padding: 16px
    }

    .consultant__box p {
        margin-bottom: 16px;
        font-size: 15px;
    }

    .consultant__box p.title-p {
        font-size: 24px;
    }




    /* 
    --------------------
    review__box__area
    --------------------
    */

    .review__box__area {
        padding: 50px 0;
    }

    .review__box > .d-flex {
        display: block !important;
    }

    .review__box h5 {
        width: 100%;
        padding: 12px 0 0;
        font-size: 20px;
        line-height: 30px;
    }

    .review__box__area h4 {
        font-size: 24px;
        margin-top: 16px;
        line-height: 36px;
        text-align: start !important;
    }


    /* 
    -----------------------
    email__offers__area
    -----------------------
    */

    .email__offers__box h4 {
        text-align: start;
        margin-bottom: 16px;
    }

    .email__offers__table2 td {
        display: block;
        width: 100%;
        padding: 16px 16px 16px !important;
        font-size: 15px;
    }

    .email__offers__table2 tr td:last-child {
        padding-top: 0 !important;
    }

    .email__offers__table2 td div {
        justify-content: space-between !important;
    }

    .show-btn {
        padding: 10px 20px;
    }



    /* 
    -----------------------
    qualifications-area
    -----------------------
    */

    .qualifications-area {
        padding: 50px 0;
    }

    .qualifications__box p {
        margin: 16px 0 0;
    }




    /* 
    ----------------------
    focus-area
    ----------------------
    */

    .focus__btn__area {
        justify-content: center;
        padding-top: 16px;
        gap: 12px;
    }

    .focus__btn__area li a {
        padding: 10px 16px;
    }



    /* 
    ----------------------
    availability-area
    ----------------------
    */

    .availability-area {
        padding: 50px 0;
    }

    .availability-table tr td {
        padding: 16px 0 !important;
        height: auto;
        font-size: 14px;
    }

    .availability-table tr td:first-child {
        padding-left: 16px !important;
    }

    .availability-table tr td:last-child {
        padding-right: 16px !important;
    }



    /* 
    ---------------------
    all-reviews-area
    ---------------------
    */

    .all-reviews-area {
        padding: 60px 0;
    }

    .client__reviews__box > .d-flex {
        display: block !important;
    }

    .rating-ul3 {
        margin-top: 16px;
    }

    .client__reviews__box > p {
        margin-top: 24px;
    }


        
}




@media screen and (min-width: 576px) and (max-width: 767px) {
    
    h1 {
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -0.5px;
    }

     .box__card {
        padding: 42px;
    }

    
}

@media screen and (min-width: 390px) and (max-width: 767px) {
    
    .links-ul2 {
        padding-left: 35px;
    }
    
}


@media screen and (max-width: 389px) {

    .text-xl {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.2px;
    }

    .features-box {
        padding: 0 2px;
    }

    .container {
        padding: 0 20px;
    }

    .call-rate-table-grid {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media screen and (max-width: 1199px) {

    .header-list {
        position: fixed;
        max-width: 100%;
        width: 280px;
        background-color: var(--white-color);
        left: -100%;
        top: 0;
        height: 100vh;
        overflow-y: auto;
        padding: 30px 16px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        transition: 0.3s all ease-in-out;
        z-index: 1000;
    }

    .header-list.active {
        left: 0;
        transition: 0.3s all ease-in-out;
    }

    .header-list li a {
        display: block;
        width: 100%;
        background-color: var(--white-smoke);
        padding: 8px 14px;
        border-radius: 10px;
        margin: 0 0 6px;
        font-size: 14px;
    }

    .header-list li a:hover,
    .header-list li a.active {
        background-color: var(--gold-color);
        color: var(--white-color);
    }

    .login-btn {
        width: 100%;
        justify-content: center;
        margin: 20px 0 0;
        font-size: 15px;
        padding: 9px 28px;
    }

    .login-btn img {
        max-width: 20px;
    }


    

}
