/*
======================
For - Big - Screen
======================
*/


@media screen and (min-width: 1900px) {}


/*
=======================
For - Desktop - Screen
=======================
*/

@media screen and (min-width: 1400px) and (max-width: 1439px) {

    


}


/*
====================================
For -  Laptop/Mini Desktop - Screen
====================================
*/

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    h1 {
        font-size: 60px;
    }

    .text-xl {
        font-size: 18px;
        line-height: 26px;
    }


    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-logo img {
        max-width: 130px;
    }

    .header-list li a {
        font-size: 15px;
    }

    .login-btn {
        font-size: 15px;
        padding: 8px 20px;
        border-radius: 140px;
    }

    .login-btn img {
        max-width: 20px;
    }



    /* 
    -------------------------
    banner-area start
    -------------------------
    */

    .features-area {
        margin-top: -112px;
    }


    
   
	
}


/*
=============================
For - Mini - Laptop - Screen
=============================
*/

@media screen and (min-width: 992px) and (max-width: 1199px) {

    h1 {
        font-size: 48px;
        line-height: 63px;
        letter-spacing: -0.5px;
    }

    .text-xl {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

    .container {
        padding: 0 20px;
    }

    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-logo img {
        max-width: 130px;
    }



    /* 
    -------------------------
    banner-area start
    -------------------------
    */

    .banner-content {
        padding: 270px 0 280px;
    }

    .features-area {
        margin-top: -110px;
    }

    .banner-content a {
        padding: 14px 24px;
    }
	
}



/*
=======================
For - Ipad - Screen
=======================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {


    h1 {
        font-size: 48px;
        line-height: 63px;
        letter-spacing: -0.5px;
    }

    .text-xl {
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

    .container {
        padding: 0 20px;
    }


    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-logo img {
        max-width: 130px;
    }




    /* 
    -------------------------
    banner-area start
    -------------------------
    */

    .banner-area {
        margin-top: -115px;
    }

    .banner-content {
        padding: 322px 0 224px;
    }

    .banner-content a {
        padding: 12px 24px;
        text-align: center;
        margin-top: 35px;
    }

    .banner-carousel .owl-dots {
        bottom: 155px;
    }

    .features-area {
        padding: 24px 0;
        margin-top: -92px;
    }

    .main-features-box {
        row-gap: 16px;
    }

    .features-box {
        gap: 10px;
    }

    .features-box img {
        max-width: 30px;
    }


}






/*
=======================
For - Mobile - Screen
=======================
*/


@media screen and (max-width: 767px) {

    h1 {
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -0.5px;
        text-transform: initial !important;
    }

    .text-xl {
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }

            
    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-area {
        padding: 16px;
    }

    .header-area nav {
        padding: 10px;
    }

    .header-logo img {
        max-width: 96px;
    }



    /* 
    -------------------------
    banner-area start
    -------------------------
    */

    .banner-area {
        margin-top: -95px;
    }

    .banner-content {
        padding: 372px 0 224px;
    }

    .banner-content a {
        padding: 12px 24px;
        display: block;
        text-align: center;
        margin-top: 24px;
    }

    .banner-carousel .owl-dots {
        bottom: 155px;
    }

    .features-area {
        padding: 24px 0;
    }

    .main-features-box {
        flex-wrap: wrap;
        row-gap: 16px;
    }

    .features-box {
        gap: 10px;
        width: 50%;
    }

    .features-box img {
        max-width: 30px;
    }
    
}




@media screen and (min-width: 576px) and (max-width: 767px) {
    

    
}


@media screen and (max-width: 389px) {

    .text-xl {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.2px;
    }

    .features-box {
        padding: 0 2px;
    }

    .container {
        padding: 0 20px;
    }

}

@media screen and (max-width: 1199px) {

    .header-list {
        position: fixed;
        max-width: 100%;
        width: 280px;
        background-color: var(--white-color);
        left: -100%;
        top: 0;
        height: 100vh;
        overflow-y: auto;
        padding: 30px 16px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        transition: 0.3s all ease-in-out;
        z-index: 1000;
    }

    .header-list.active {
        left: 0;
        transition: 0.3s all ease-in-out;
    }

    .header-list li a {
        display: block;
        width: 100%;
        background-color: var(--white-smoke);
        padding: 8px 14px;
        border-radius: 10px;
        margin: 0 0 6px;
        font-size: 14px;
    }

    .header-list li a:hover,
    .header-list li a.active {
        background-color: var(--gold-color);
        color: var(--white-color);
    }

    .login-btn {
        width: 100%;
        justify-content: center;
        margin: 20px 0 0;
        font-size: 15px;
        padding: 9px 28px;
    }

    .login-btn img {
        max-width: 20px;
    }

}
