/*
======================
For - Big - Screen
======================
*/


@media screen and (min-width: 1900px) {}


/*
=======================
For - Desktop - Screen
=======================
*/

@media screen and (min-width: 1400px) and (max-width: 1439px) {

    


}


/*
====================================
For -  Laptop/Mini Desktop - Screen
====================================
*/

@media screen and (min-width: 1200px) and (max-width: 1399px) {

    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-logo img {
        max-width: 130px;
    }

    .header-list li a {
        font-size: 15px;
    }

    .login-btn {
        font-size: 15px;
        padding: 8px 20px;
        border-radius: 140px;
    }

    .login-btn img {
        max-width: 20px;
    }


    
   
	
}


/*
=============================
For - Mini - Laptop - Screen
=============================
*/

@media screen and (min-width: 992px) and (max-width: 1199px) {

    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-logo img {
        max-width: 130px;
    }
	
}



/*
=======================
For - Ipad - Screen
=======================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {

    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-logo img {
        max-width: 130px;
    }


}






/*
=======================
For - Mobile - Screen
=======================
*/


@media screen and (max-width: 767px) {
            
    /* 
    -------------------------
    header-area start
    -------------------------
    */

    .header-area {
        padding: 16px;
    }

    .header-area nav {
        padding: 10px;
    }

    .header-logo img {
        max-width: 96px;
    }
    
}




@media screen and (min-width: 576px) and (max-width: 767px) {
    

    
}


@media screen and (max-width: 575px) {


}

@media screen and (max-width: 1199px) {

    .header-list {
        position: fixed;
        max-width: 100%;
        width: 280px;
        background-color: var(--white-color);
        left: -100%;
        top: 0;
        height: 100vh;
        overflow-y: auto;
        padding: 30px 16px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        transition: 0.3s all ease-in-out;
    }

    .header-list.active {
        left: 0;
        transition: 0.3s all ease-in-out;
    }

    .header-list li a {
        display: block;
        width: 100%;
        background-color: var(--white-smoke);
        padding: 8px 14px;
        border-radius: 10px;
        margin: 0 0 6px;
        font-size: 14px;
    }

    .header-list li a:hover,
    .header-list li a.active {
        background-color: var(--gold-color);
        color: var(--white-color);
    }

}
